<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="forgotpassword.css">
  <title>Reset Password</title>
</head>
<body>
  <div class="container">
    <h1>Reset Password</h1>
    <form method="post" id="signupForm" action="http://localhost:5000/reset-password">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
      <button type="submit">Reset Password</button>
    </form>
  </div>

  <div id="message"></div>

  <script src="adminforgetpassword.js"></script>
</body>
</html>
