<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lp.css">
</head>
<body>
    <div class="firstdiv">
        <img src="images/logo.svg" class="logoimage">
        <button class="button"><a href="/signup">Register</a></button>
        <button class="button"><a href="signin">Login</a></button>
        <button class="button"><a href="employer-signup">Post Jobs</a></button>
    </div>
    <div class="secondDiv">
        <h1 class="welcomehuddle">Welcome to Huddle</h1>
        <p class="firstparagraphy">where community-building is reimagined. Our job seeker app empowers both you and your 
            audience to have a voice.
             Say goodbye to traditional job search platforms and hello to genuine connections and 
             discussions. Join us today and start building the community your fans will love</p>
             <button class="getStarted">Get Started</button>
    </div>
    <div class="imageDiv">
        <img src="images/screen-mockups.svg" class="mockScreen">
    </div>
    <div class="thirdDiv">
        <div>
        <img src="images/icon-communities.svg" class="iconCom">
        <h1 class="number">1.4k+</h1>
           <p class="word"> Communities Formed</p>
        </div>
        <div>
           <img src="images/logo.svg" class="logoimage">
           <h1 class="number">2.7m+</h1>
           <p class="word"> Messages Sent</p>
        </div>
    </div>
    <div class="fourthDiv">
        <img src="images/illustration-grow-together.svg" class="secondmain">
        <div>
        <h1 class="welcomehuddle">Grow Together</h1>
        <p class="secondParagraphy">Grow Together is a platform that helps you connect with your peers and build a community.
            Join us today and start building the community your fans will love</p>
        </div>
    </div>
    <div class="fourthDiv">
        <div><h1 class="welcomehuddle">
            Forge Connections Seamlessly with Huddle</h1>
        <p class="secondParagraphy">In the realm of job seeking, every conversation matters. 
            That's why Huddle offers a platform where connections flow effortlessly. 
            Say goodbye to fragmented exchanges and hello to smooth, uninterrupted dialogue with our just-in-time loading threads.
             Join Huddle today and experience the natural flow of networking</p></div>
             
             <div>
        <img src="images/illustration-flowing-conversation.svg" class="secondmain">
    </div>
        
    </div>
    <div class="fourthDiv">
        <div>
        <img src="images/illustration-your-users.svg" class="secondmain"></div>
        <div>
        <h1 class="welcomehuddle">Empower Your Job Seekers Instantly with Huddle</h1>
        <p class="secondParagraphy">
            Integrating Huddle with your job-seeking app's 
            authentication solution is swift and seamless. Once signed in to your app,
             your users can dive straight into valuable conversations and networking opportunities. 
             Say goodbye to delays and hello to instant engagement in the job search process.
             Join Huddle today and witness the power of immediate connection. Get started for free!</p>
            </div>
    </div>
</body>
</html>