<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="recover-password.css">
  <title>Password Recovery</title>
</head>
<body>
  <div class="container">
    <h1>Recover Password</h1>
    <form method="post" id="signupForm" action="http://localhost:5000/recover-password">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" required>
      <label for="newPassword">New Password</label>
      <input type="password" name="newPassword" id="newPassword" required>
      <button type="submit">Reset Password</button>
    </form>
  </div>

  <div id="message"></div>

  <script src="signup.js"></script>
</body>
</html>
