/* Container styling */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  }
  
  /* Heading styling */
  h1 {
    margin-top: 40px; /* Adjusted margin top */
    text-align: center;
    font: 50px Arial;
    text-transform: uppercase;
    font-weight: bold;
    color: #007bff; /* Blue color */
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Label styling */
  label {
    font-weight: bold;
    color: #555; /* Dark gray color */
  }
  
  /* Input styling */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 15px 20px; /* Adjusted padding */
    margin: 10px 0; /* Adjusted margin */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 10px;
    background-color: #f0f8ff; /* Light blue background */
    box-sizing: border-box;
  }
  
  /* Button styling */
  button[type="submit"] {
    width: 100%;
    padding: 15px 20px; /* Adjusted padding */
    margin: 10px 0; /* Adjusted margin */
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  